<div class="article12">
  <h1><%=@article.title%></h1>
  <br>
  <div class="random"><%=image_tag("https://source.unsplash.com/500x500/?{videogame},{#{@article.title}}")%></div>
  <br>
  <p><%=@article.text%></p>
</div>