
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 1%;

  h1 {
    display: inline-block;
    border-bottom: #f39428 2px solid;
  }

  h2 {
    margin: 0;
  }
}

.container {
  min-height: calc(100vh - 12rem);

  @media only screen and (max-width: 1270px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.photo {
  background-color: rgba(228, 188, 114, 0.733);
  height: calc(50vh - 6rem);
  border-radius: 20px;
  img {
    border-radius: 20px;
  }
  margin: 1%;
}

.details {
  padding-top: 0.3rem;
  padding-left: 0.8rem;
  padding-right: 1.6rem;
  padding-bottom: 2rem;
}
